.sell-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.sell-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
  .sll-table {
    flex-direction: row;
  }
}
